body{
  background-color: rgb(0, 0, 0);
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
@font-face{
  font-family:"Melorist" ;
  src: url(../fuentes/Melorist.ttf);
}
a{
  color: #fffefe;
}
a:hover {
  background-color: #ffffff;
  color: #000000;  
}
nav{
  background: #000000;
  height: 80px;
  width: 100%;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #fffefe;
  font-size: 18px;
  font-family: Louis George Cafe Light;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;  
}
li a.nav-item, li a:hover{
  background: #f9f8f8;  
}
.menu{
  font-size: 30px;
  color: #f9f5f5;
  float: right;
  line-height: 80px;
  margin-right: 10px;
  cursor: pointer;  
  display: none;
}
#check{
  display: none;
}
h1 {
  color: white;
  font-size: 50px;
  font-family:"Melorist";
  align-items: flex-start;
  margin-bottom: 0;
  padding-left:30px ;
  padding-top: 20px;
}
h2{
  color: white;
  font-size: 20px;
  font-family:Louis George Cafe Light;
  padding-left: 100px;
}
img.custom{
  height: 600px;
  width: 600px;
  object-fit: scale-down;

}
.info-redes{
  margin-top: 0px;
  padding-top: 20px;
  font-size: 30px;
}
.redes{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.derechos{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  color: white;
}
/*sobre mi*/
.sobre-mi{
  background-image: linear-gradient(to left, transparent 50%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%),
  url(../fotos/fotoo44.jpg);
  background-position: right center;
  padding: 20px 0;
  margin-top: 100px;
  margin-bottom: 180px;
  background-repeat: no-repeat;
  background-size: 100%, 1900px;
}
.sobre-mi-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
}
.texto-sobre-mi{
  grid-column: 2/1; 
  color: #fff;
  font-family:Louis George Cafe Light;
  justify-content: center;  
  padding: 0 30px ;
  
}
.texto-sobre-mi h3{
  font-family:"Melorist";
  color: #fff;
}
/*galeria*/
#galeria .col-lg-4 {
  margin: 0;
  padding: 25px;
}
#galeria img{
  width: 100%;
  height: 250px;
}
#galeria img:hover{
  border: 5px solid #ffff;
}


/*contactos*/
.formulario{
  max-width: 600px;
  margin:0 auto;  
}
.formulario fieldset{
  font-family:Louis George Cafe Light;
  border: 1px solid #ffffff;  
  color: #ffffff;
  padding-left: 5px ;
  padding-right: 20px;
}
.formulario legend{
  background-color: #000000;
  font-family:Louis George Cafe Light;
  text-align: center;
  width: 100%;
  color:#faf9f9;
  font-weight: 900;
  padding: 14px;
  margin-bottom: 40px;
}
.campo{
  display: flex;
  margin-bottom: 32px;
}
.campo label{
  flex-basis:100px ;
}
.campo input[type="tex"],
.campo input[type="email"],
textarea  {
  flex: 1;
  padding: 14px;
  font-family:Louis George Cafe Light;
}
.btn{
  background-color: #fff;  
  color:#060606;
  padding:10px;
  margin-top: 4px;
  font-weight: 900;
  text-align: center;
  transition:.3s ease-out ;
  border: #ffffff;
}
.btn:hover{
  cursor: pointer;
}





@media screen and (max-width: 360px){
  .menu{
    display: block;
    z-index: 1000;
  }
  ul{
    position:fixed;
    width: 100%;
    height: 100vh; 
    background: #000000;
    top: 60px;
    left: -100%;
    text-align:center;
    transition: all .5s;
    z-index: 1;

  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 40px;
  }
  nav ul li a{
    font-size: 20px;
  }

  li a.nav-item, li a:hover{
    background: none;
    color: rgb(228, 244, 212);
  }
  #check:checked ~ ul{
    left:0;
  }
  h1 {
    display: block;
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 8px;
  }
  h2 {
    font-size: 15px;
    padding-left: 50px;

  }
  
  .slider{
    margin-top: 100px;

  }
  img.custom{
    height: 240px;
    width: 240px;
    object-fit: scale-down;

  }
  
  .footer-cotainer{
    display: flex;
    justify-content: center;
    padding:0px;
    padding-bottom: 10px;
  }

  .sobre-mi{   
    background-image: linear-gradient(to left, transparent 100%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%),
    url(../fotos/fotoo44.jpg); 
    background-position:right  center;     
    margin: 0px 0;
    padding: 0px 0;
        
    background-repeat: no-repeat;
    background-size: 100%, 1000px;
   
  } 
  .sobre-mi-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .texto-sobre-mi{
    grid-column: 1; 
    color: #fff;
    font-family:Louis George Cafe Light;
    justify-content: center;  
    font-size: 13px;
    padding: 30px ; 
    
  } 
  .formulario{
    max-width: 300px;
    height: 600px;
    margin:0 auto;  
  } 
  .formulario legend{
    
    padding: 5px;
    margin-bottom: 20px;
  }
  .campo{
    display: flex;
    margin-bottom: 30px;
  }
  .campo label{
    flex-basis:80px ;
  }
  .campo input[type="tex"],
  .campo input[type="email"],
  textarea  {
  flex: 1;
  padding: 8px;
  font-family:Louis George Cafe Light;
}
  
  

  
}
@media screen and (max-width: 768px){
  .menu{
    padding-left: 20px;
  }
 
} 
