body{
    background-color: rgb(0, 0, 0);
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
@font-face{
    font-family:"Melorist" ;
    src: url(../fuentes/Melorist.ttf);
}
a{
    color: #fffefe;

&:hover {
    background-color: #ffffff;
    color: #000000;
}
    
}

nav{
    background: #030303;
    height: 80px;
    width: 100%;

    ul{
      float: right;
      margin-right: 20px;

      li{
         display: inline-block;
         line-height: 80px;
         margin: 0 5px;
        a{
            color: #fffefe;
            font-size: 18px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
            text-decoration: none;

        &:hover{
            background: #f9f8f8;
            transition: .5s; 
            }  
        }
        
        }
        
    }

.menu{
    font-size: 30px;
    color: #f9f5f5;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

       
} 
#check{
    display: none;
}
h1{
    color: white;
    font-size: 50px;
    font-family:"Melorist";
    align-items: flex-start;
    padding-left:30px ;
    padding-top: 20px;
}
h2{
    color: white;
    font-size: 30px;
    font-family:Louis George Cafe Light;
    padding-left: 100px;
}
}
img.custom{
    height: 600px;
    width: 600px;
    object-fit: scale-down;
}
aside ul li {
    display: flex;
    display: inline-block; 
    margin-right: 20px; 
    padding-top: 10px;   


}
.info-redes{
    list-style: none;
    font-size: 30px;    
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    padding-top: 20px;
}
.derechos{
    display: flex;
    justify-content: center;    
    padding-top: 10px;
    color: white;
}
.sobre-mi{
    display: flex;
    justify-content:center;    
    padding-top: 200px;
    padding-left: 200px;  
    
    .content-info {
        background-color: rgb(0, 0, 0);
        font-family:Louis George Cafe; ;
        color:white;
        width: 1000px;
        height: 700px;    
        padding: 20px;
        border: 0px solid;
        position: sticky;
        text-align: justify
            
    h3 {
        font-size: 40px;
        display: flex;
        justify-content: center;
        padding: 20px;
        }     
    } 
      
}



  

.gallery-container{
    display: grid;
    grid-template-columns: repeat(7, 200px) ;
    grid-template-rows: 120px repeat(2, 120px);
    grid-gap: 30px;
    padding-top: 150px;
    padding-left: 150px;

img{
    border-radius: 5px;
}    
}
.flex-container{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 100px 100px;

.form{
    background-color: rgb(0, 0, 0);
    margin: auto;
    padding: 150px  ;
    min-height: 400px;
    text-align: center;
    
    .form-parrafo {
        font-size: 20px;
        text-align: center;
        color: white;
        padding-left: 50px
    }
    .form-input{
        width: 150%;
        padding: 7px;
        margin: 6px;
        border-radius: 5px;
        border-bottom: 3px solid rgb(96, 123, 245) ;
    
    .form textarea{
        min-height: 200px;
        resize: none;
    } 
    .form-boton{
        padding: 10px;
        padding-left: 40px;
        width: 100%;
    
    
}   }  
    } 
}

@import "queries"
